<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <!-- <div class="custom-bg">
        <a class="navbar-brand" href="#">Sapienza Agia Polis Project </a>
      </div> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            
              <button class="btn" type="button" (click)="toggleNightMode()">
                <i class="bi bi-moon" *ngIf="!isNightMode"></i>
                <i class="bi bi-sun" *ngIf="isNightMode"></i>
              </button>
            
          </li>
          <li class="nav-item">
            <button class="btn" type="button">
              <i class="bi bi-bell"></i>
            </button>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdown"
            >
              <li><a class="dropdown-item" href="#">Your Profile</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
              <li><hr class="dropdown-divider hidden" /></li>
            </ul>
          </li>
        </ul>
        <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
      </div>
    </div>
  </nav>
  